body {
  background-color: #e5e5e5;
}

.button {
  padding: 10px 20px;
  opacity: 1;
  font-size: 16px;
  background-color: rgb(32, 73, 159);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e67d7;
}

.button:active {
  background-color: #3e578e;
  background-color: #6489ef;
}

.btn-setInput {
  height: 38px
}

.svg_icon_pen {
  padding: 5px;
}

.text {
  background-color: #3f51b5;
  border-radius: 50%;
}

.text:hover {
  background-color: #6489ef;
}

.svg_btn {
  cursor: pointer;
  border: 0;
  padding-top: 5px;
}

.cursor_img {
  padding-top: 3px;
}

#coordinates {
  position: absolute;
  margin-left: 5px;
  margin-top: 3.5px;
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.canvas {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.input-block {
  position: absolute;
  border: 0px;
  z-index: 2;
  cursor: auto;
}

.image-block {
  position: absolute;
  z-index: 2;
}

.input-block:hover {
  border: 1px solid black;
}

#setBar {
  left: 0px;
  right: 0px;
  padding: 0;
  position: fixed;
  background-color: #3f51b5;
  z-index: 2;
}

.settings-block {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 42px;
  top: 0;
  flex-direction: row;
}

.bottom-Bar {
  display: flex;
  align-items: center;
  bottom: 0;
  height: 34px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 17px 0, rgba(0, 0, 0, 0.19) 0 2px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 17px 0, rgba(0, 0, 0, 0.19) 0 2px 20px 0;
}

.toolbox {
<<<<<<< HEAD
  margin-left: 1008px;
=======
  margin-left: 1020px;
>>>>>>> 1f6e83e1e21e19c58527c77695a6b65e6ccadfb5
}

.numberZoom {
  text-align: right;
  padding: 0;
  width: 30px;
  height: 20px;
  color: white;
  font-size: 16px;
  background-color: #3f51b5;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  appearance: none;
}

input[type="range"] {
  accent-color: rgb(0, 106, 255);
  border: 0px; 
}

.Slider[type="range"] {
  accent-color: rgb(255, 255, 255);
}

.numberZoom::-webkit-inner-spin-button,
.numberZoom::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  color:white;
  border-bottom: 1px solid;
  border-color: #749df6;
  margin-right: 10px;
  padding-bottom: 1.5px;
}

.Slider {
  cursor: pointer;
}

.img-size {
  width: 20px;
  height: 20px;

}

.size-canvas:hover{
  background-color:#3f63b1;
}

.size-canvas {
  font-weight: 400;
  font-size: 15px;
  height: 34px;
  width: 140px;
  background-color:#3f51b5;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000000;
}

.popup {
  display: none;
  width: 200px;
  height: 200px;
  position: fixed;
  border-radius: 5%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  padding: 20px;
  z-index: 1000000;
}

.flex_block {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  font-family: Arial, sans-serif;
  align-items: left;
}

p {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
  
}

#sizeInput {
  margin-top: 5px;
}

#deleteButton {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  color: white;
  background-color: #3f51b5;
}

.btn-close {
  position: relative;
  color: black;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 0 0;
  width: 35px;
  height: 35px;
  z-index: 3;
}

.btn-close:hover {
  background-color: #b0a9a9;
}

.btn-close:active {
  background-color: rgb(214, 225, 235);
}

.resizeText {
  font-size: 35;
  font-family: Arial;
  margin-right: auto;
  font: 500;
}

.popup-content {
  text-align: center;
}

.menuPopup {
  margin-top: 20px;
}

.color-buttons {
  display: flex;
  align-items: center;
  height: 42px;
}

.color-button {
  height: 30px;
  width: 30px;
  padding: 0 0 0 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-right: -10px;
  background-color: #3f51b5;
}

#active-color {
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  padding: 0 0 0 0;
}

#svg_icon_color {
  margin-top: 4px;
}

.divider {
  width: 1px;
  background-color: #e5e5e5;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.pixel-block {
  color:rgba(0, 0, 0, 0.5)
}

.hover:hover {
  background-color: #6489ef;
}

.active:active {
  background-color: #6583d7;
}

#fontBar {
  width: 80px;
  height: 30px;
  background-color: #3f51b5;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
}

#fontBar:hover {
  background-color: #6489ef;
} 

.fontSize {
  color: white;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  margin-right: 5px;
}

.fonts {
  top: 19.8%;
  left: 54.13%;
  overflow: auto;
  border-radius: 0%;
}

.families {
  top: 19.8%;
  left: 62.2%;
  overflow: auto;
  border-radius: 0%;
}

.color-preview {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.btn-font {
  width: 62px;
  height: 22px;
  cursor: pointer;
  border: 0;
}

.family {
  width: 122px;
  height: 30px;
  padding: 0 2 0 40 ;
}

.btn-font:hover {
  color:#ffffff;
  background-color: #3e67d7;
}

img, span {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.test {
  overflow: hidden;
}
